@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(https://fonts.googleapis.com/css?family=Signika:400,600);

/* Reset
---------------------------------*/
ul {
    list-style: none;
}

img {
    max-width: 100%;
}
a, a:hover, a:active {
    outline: 0px !important;
	text-decoration:none;
}
/* Styles
---------------------------------*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Tutorial
--------------------------- */
 
.Tutorial-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
}
#part2 .read-more{
	border: 1px solid #ED5441;
	color: #1a1a1a;
}

#part2 .read-more:hover{
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	color: #fff;
}
.part2-post-container{
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}
.part2{
	margin-top: 70px;
	margin-bottom: 50px;
}
.part2 h3{
	font-size:28px;
}
.points{ 
	margin-bottom: 10px;
	font-size:14px;
	padding-left:0px;
}
.part2 p{
	/*font-size: 0.9375em;*/
	line-height: 1.625em;
	padding: 15px 0;
}
.part2.part2-list{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
}

.part2-link a:first-child{
	margin-left: 0;
}

#Tutorial {
    padding: 60px 0;
}



